#miTabla4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#miTabla4 td, #miTabla4 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#miTabla4 tr:nth-child(even){background-color: #f2f2f2;}

#miTabla4 tr:hover {background-color: #ddd;}

#miTabla4 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
